GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme
ALERTMANAGER_SLACK_WEBHOOK=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK
ALERTMANAGER_EMAIL_FROM=alerts@example.com
ALERTMANAGER_EMAIL_TO=oncall@example.com
ALERTMANAGER_SMTP_HOST=smtp.example.com:587
